### Build Artifacts ###
bin/
obj/
*.o
*.d

### Premake & GNU Make ###
Makefile
*.make

### Ninja ###
*.ninja
.ninja_deps
.ninja_log

### Arch Linux Packaging (makepkg) ###
# Temporary folders created during makepkg
src/
pkg/
# The internal clone created by makepkg
capybara-cli/
# Generated package files and logs
*.pkg.tar.zst
*.log
.SRCINFO

### Visual Studio & VS Code ###
.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.pdb
*.exe